* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

  /* ================ navigation styling ====================== */
  .navbar {
      padding-bottom: 10px;
      font-size: .9rem;
  }

  .navBar_section {
    background: rgba(255,255,255,.97)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
  }

  .main-nav {
      list-style-type: none;
      display: none;
      font-size: 12px;
  }

  .nav-links {
      text-decoration: none;
      color: grey;
  }

  .nav-links:hover {
      color: #029DE0;
  }

  .btn {
      background-color: none;
      padding: 10px 20px;
      color: #029DE0;
      border: 1px solid #029DE0;
      border-radius: 10px;
  }

  .btn:hover {
      color: #029DE0;
  }

  #web_logo {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
  }

  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .logo {
<<<<<<< HEAD
=======
      font-size: 1.4em;
      font-weight: bold;
      color: black;
>>>>>>> upstream/master
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }

  .navbar-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    color: #029DE0;
    font-size: 24px;
  }

  .navbar-toggle:active,
  .navbar-toggle:hover {
    outline: none;
    color: #029DE0;
  }

  .active {
      display: block;
  }

/* Header styling */
.flex_container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: space-between;
    margin: 50px 0;
}

.content {
    max-width: 50%;
    padding: 0 25px 15px;
}

.highlight {
    color: #029DE0;
}

.content h1 {
    font-size: 45px;
}

.content p {
    margin: 20px 0;
    font-size: 16px;
}

.content img {
    width: 100%;
    padding: 0;
}

.header_link, .partner_link {
    background-color: #029DE0;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #029DE0;
    border-radius: 8px;
}

.header_link:hover, .partner_link:hover {
    transition: 1s ease-in-out;
    color: #029DE0;
    background-color: rgba(255,255,255,.97);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}

@media screen and (max-width: 767px) {
    .flex_container {
        flex-direction: column;
    }
    .content {
        max-width: 100%;
    }
}

.course_btn {
    text-decoration: none;
    background: #029DE0;
    color: #fff;
    border-radius: 8px;
    padding: 10px;

}

.pad {
    text-align: center;
}

hr {
    width: 30px;
    border: 1px solid #029DE0;
    margin: 10px auto;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.subscribe {
    background-color: #029DE0;
    color: #fff;
    padding: 50px 70px;
    margin-bottom: 150px;
}

.subscribe h2 {
    font-weight: 400;
    font-size:24px;
}

.email {
    background-color: #fff;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin: 0;
}

.btn_subscribe {
    margin-left: 80px;
    padding: 15px 25px;
    font-family: inherit;
    color: #029DE0;
    font-weight: 600;
    background-color: rgba(255,255,255,.97);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.grid_content {
    padding: 25px;
    background: rgba(255,255,255,.97)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
    margin: 20px;
    text-align: center;
  }

.center {
    margin: 0 0 10px;
    text-align: center;
}

.grid_content img {
    max-width: 90px;
    max-height: 90px;
    margin-bottom: 15px;
}

/* Features */
.features {
    margin: 100px 0;
}

/* Partners */
.partners {
    background-color: #f2f3f7;
    padding: 50px 0;
    margin-bottom: 100px;
}

.partner_grid {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shift {
    margin-top: 40px;
    font-size: 18px;
}

.icons img {
    max-width: 100px;
    max-height: 100px;
}

#partner_link {
    text-align: center;
    margin: 40px 0 0;
}

/* Resource Index */
.resource_index {
    margin: 40px 0 100px;
}

/* Newsletter */
.newsletter #quote {
    font-size: 55px;
    font-weight: 400;
}

.newsletter p {
    font-style: italic;
    font-size: 18px;
    line-height: 20px;
}

/* Footer */

footer {
    margin: 0 0 20px;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer_nav li {
    padding: 0 30px;
}

.footer_nav li a {
    text-decoration: none;
    color: #111;
}

.secondary {
    list-style: none;
}

.secondary li {
    padding: 0;
}

/* Media Queries */

  @media(max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      max-width: 100%;
    }

    .shift {
        font-size: 14px;
    }

    .icons img {
        max-width: 70px;
        max-height: 70px;
    }

    .newsletter #quote {
        font-size: 30px;
    }

    .btn_subscribe {
        margin-left: 0;
    }

  }

  @media screen and (min-width: 768px) {
      .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }

      .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      }

      .main-nav li {
      margin: 0;
      }

      .nav-links {
      margin-left: 40px;
      }

      .logo {
      margin-top: 0;
      }

      .navbar-toggle {
      display: none;
      }
  } /* ================ navigation styling end ====================== */
<<<<<<< HEAD
=======

>>>>>>> upstream/master
