* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

  /* ================ navigation styling ====================== */
  .navbar {
      padding-bottom: 10px;
      font-size: .9rem;
  }

  .form_one {
    text-align: center;
    background: rgba(255,255,255,.97)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
    max-width: 500px;
    margin: 80px auto;
    padding: 30px 20px;
  }

  #donate_text {
      margin-bottom: 30px;
  }



  .navBar_section {
    background: rgba(255,255,255,.97)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
  }

  .main-nav {
      list-style-type: none;
      display: none;
      font-size: 12px;
  }

  .nav-links {
      text-decoration: none;
      color: grey;
  }

  .nav-links:hover {
      color: #029DE0;
  }

  .btn {
      background-color: #029DE0;
      padding: 10px 20px;
      color: #fff;
      border: 1px solid #029DE0;
      border-radius: 10px;
  }

  .btn:hover {
      color: #fff;
  }

  #web_logo {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
  }

  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .logo {
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
  }

  .logo1 {
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
  }

  .navbar-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    color: #029DE0;
    font-size: 24px;
  }

  .navbar-toggle:active,
  .navbar-toggle:hover {
    outline: none;
    color: #029DE0;
  }

  .active {
      display: block;
  }

/* Header styling */
.flex_container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: space-between;
    margin: 50px 0;
}

.content {
    max-width: 50%;
    padding: 0 25px 15px;
}

.highlight {
    color: #029DE0;
}

.content h1 {
    font-size: 45px;
}

.content p {
    margin: 20px 0;
    font-size: 16px;
}

.content img {
    width: 100%;
    padding: 0;
}

.header_link, .partner_link {
    background-color: #029DE0;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #029DE0;
    border-radius: 8px;
}

.header_link:hover, .partner_link:hover {
    transition: 1s ease-in-out;
    color: #029DE0;
    background-color: rgba(255,255,255,.97);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
}

@media screen and (max-width: 767px) {
    .flex_container {
        flex-direction: column;
    }
    .content {
        max-width: 100%;
    }
}

.course_btn {
    text-decoration: none;
    background: #029DE0;
    color: #fff;
    border-radius: 8px;
    padding: 10px;

}

.pad {
    text-align: center;
}

hr {
    width: 30px;
    border: 1px solid #029DE0;
    margin: 10px auto;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.subscribe {
    background-color: #029DE0;
    color: #fff;
    padding: 50px 70px;
    margin-bottom: 150px;
}

.subscribe h2 {
    font-weight: 400;
    font-size:24px;
}

.email {
    background-color: #fff;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin: 0;
}

.btn_subscribe {
    margin-left: 80px;
    padding: 15px 25px;
    font-family: inherit;
    color: #029DE0;
    font-weight: 600;
    background-color: rgba(255,255,255,.97);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.grid_content {
    padding: 25px;
    background: rgba(255,255,255,.97)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
    margin: 20px;
    text-align: center;
  }

.center {
    margin: 0 0 10px;
    text-align: center;
}

.grid_content img {
    max-width: 100%;
    max-height: 200px;
    margin: 0 0 20px;
}

/* Features */
.features {
    margin: 100px 0;
}

/* Partners */
.partners {
    background-color: #f2f3f7;
    padding: 50px 0;
    margin-bottom: 100px;
}

.partner_grid {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shift {
    margin-top: 40px;
    font-size: 18px;
}

.icons img {
    max-width: 100px;
    max-height: 100px;
}

#partner_link {
    text-align: center;
    margin: 40px 0 0;
}

/* Resource Index */
.resource_index {
    margin: 40px 0 100px;
}

/* Newsletter */
.newsletter #quote {
    font-size: 55px;
    font-weight: 400;
}

.newsletter p {
    font-style: italic;
    font-size: 18px;
    line-height: 20px;
}

/* Footer */

footer {
    margin: 0 0 20px;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer_nav li {
    padding: 0 30px;
}

.footer_nav li a {
    text-decoration: none;
    color: #111;
}

/* Media Queries */

  @media(max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      max-width: 100%;
    }

    .shift {
        font-size: 14px;
    }

    .icons img {
        max-width: 70px;
        max-height: 70px;
    }

    .newsletter #quote {
        font-size: 30px;
    }

    .btn_subscribe {
        margin-left: 0;
    }

  }

  @media screen and (min-width: 768px) {
      .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }

      .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      }

      .main-nav li {
      margin: 0;
      }

      .nav-links {
      margin-left: 40px;
      }

      .logo {
      margin-top: 0;
      }

      .navbar-toggle {
      display: none;
      }
  } /* ================ navigation styling end ====================== */

  .partners_list {
      margin: 0 auto 150px;
      max-width: 500px;
  }

  .partners_list ul {
      list-style: none;
  }

  h3.resources {
      text-align: center;
      font-weight: 500;
      /* color: #111; */
      margin: 10px 0;
  }

ul li {
    color: #333;
}

.about_center {
    max-width: 800px;
    margin: 50px auto;
}

.about_center ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.about_center li {
    padding: 10px 5px;
}

.about_center li a {
    color: #333;
    padding: 0;
}

.social_icons {
    list-style: none;
    display: flex;
}

.social_icons li {
    display: flex;
}

.grid_content .fas {
    font-size: 45px;
    margin: 20px 0;
    color: #029DE0;
}

/* --- Carousel resources --- */
.slider-wrapper{
display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #029DE0, #5563DE);
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
}
.btn-slider{
    width: auto;
    height: auto;
    background-color: #029DE0;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #029DE0;
    border-radius: 10px
}

.slider {
    margin-top: 60px;
    margin-bottom: 110px;
    width: 1500px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 450px;
    height: 350px;
    margin-right: 50px;
    border-radius: 10px;
    background: #fefeff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  }
 
  .slides > div:target {
  /*   transform: scale(0.8); */
  }
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }

  img {
   max-width: 100%;
    max-height: 200px;
    margin: 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 2rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  
  
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }
  
  @media screen and (max-width: 767px) {
    .slider {
        width: 300px;
        text-align: center;
        overflow: hidden;
      }

}